/* PALETA DE COLORES
.color1 {color: #00192b;}
.color2 {color: #383e6d;}
.color3 {color: #30a2d9;}
.color4 {color: #6acaf6;}
.color5 {color: #9df3ff;} */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
    color: #383e6d;
    font-family: 'Fragment Mono', monospace;
}

h2{
    font-size: 4rem;
}

h3{
    font-size: 2rem;
}

p {
    font-size: 1.6rem;
}

a{
    text-decoration: none;
    cursor: pointer;
}

header{
    padding-top: 10px;
    width: 100%;
    height: 6rem;
    background-color: #00192b;
    position:fixed;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.page-title{
    color: white;
    margin-left: 1rem;
    font-size: 2.5rem;
    font-family: 'Press Start 2P', cursive;
    margin-top: 8px;
}

.nav{
    background-color: #00192b;
    height: 200px;
    width: 100%;
    display: none;
}

.nav.active {
    display: block;
}

.menu_buttom{
    height: 40px;
    width: 40px;
    display: block;
    cursor: pointer;
    margin-right: 1rem;
    border-radius: 5px;
}

.menu_icon{
    height: 30px;
    width: 30px;
}

header ul{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-top: 2rem;

}

header li{
    margin-bottom: 1.5rem;
    list-style: none;
    font-size: 1.6rem;
}

header a{
    color: white;
}

/* Main Section Mobile*/
main {
    height: 100vh;
    width: 100%;
    background-color: white;
}

/* Profile Section */
#profile {
    padding-top: 6rem;
    background-color: white;
}

main .profile_container {
    height: 100vh;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.biography_photo {
    margin-top: 20px;
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.biography_photo img {
    border-radius: 10px;
    height: 200px;
    width: 200px;
}

.biography_curriculum {
    margin-top: 10px;
}

.biography_curriculum h2 {
    text-align: center;
    margin-bottom: 20px;
}

.biography_curriculum p {
    margin-bottom: 10px;
}

.biography_curriculum_p3 {
    display: none;
}

.curriculum_button {
    height: 40px;
    width: 100%;
    margin-top: 30px;
}

.curriculum_button button {
    height: 100%;
    width: 100%;
    background-color: white;
    border: solid 1px #383e6d;
    border-radius: 5px;
}

.curriculum_button button a {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #383e6d;
}

.curriculum_icon {
    height: 25px;
    width: 25px;
    display: flex;
    margin-right: 5px;
    background-image: url("../ASSETS/download_icon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

/*Experience section*/
#experience {
    background-color: #9df3ff ;
}

.experience_container {
    height: 100vh;
    max-width: 90%;
    margin: 0 auto;
    padding: 100px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.experience_container_logos {
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.experience_container_logos figure {
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
}
.experience_container_logos img {
    width: 100%;
}

.experience_container_description h3 {
    margin-bottom: 10px;
}

.experience_container_description p {
    margin-bottom: 10px;
}

.experience_container_description span {
    font-weight: bold;
}

/* Education Section */

#education {
    background-color: white;
}

.education_container {
    height: 100vh;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.education_container h2 {
    margin-bottom: 20px;
}

.education_container_pucp {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.education_container_pucp span {
    height: 90px;
    width: 20%;
    background-image: url("../ASSETS/pucp_logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: #6acaf6;
    border-radius: 5px;
    margin-right: 5px
}

.education_container_pucp h3 {
    font-size: 1.6rem;
    width: 35%;
    margin-right: 5px
}

.education_container_pucp p {
    width: 35%;
}


.education_container_autonoma {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.education_container_autonoma span {
    height: 90px;
    width: 20%;
    background-image: url("../ASSETS/autonoma_logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: #6acaf6;
    border-radius: 5px;
    margin-right: 5px
}

.education_container_autonoma h3 {
    font-size: 1.6rem;
    width: 35%;
    margin-right: 5px
}

.education_container_autonoma p {
    width: 35%;
}


.education_container_language {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.education_container_language span {
    height: 90px;
    width: 20%;
    background-image: url("../ASSETS/us_logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: #6acaf6;
    border-radius: 5px;
    margin-right: 5px
}

.education_container_language h3 {
    font-size: 1.6rem;
    width: 35%;
    margin-right: 5px
}

.education_container_language p {
    width: 35%;
}


.education_container_software {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.education_container_software span {
    height: 90px;
    width: 20%;
    background-image: url("../ASSETS/adobe_premier_logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: #6acaf6;
    border-radius: 5px;
    margin-right: 5px
}

.education_container_software h3 {
    font-size: 1.6rem;
    width: 35%;
    margin-right: 5px
}

.education_container_software p {
    width: 35%;
}

/* Developer Section */
#developer {
    background-color:#6acaf6 ;
}

.developer_container {
    height: 50vh;
    max-width: 90%;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.developer_container h2 {
    margin-bottom: 20px;
}

.developer_container p {
    margin-bottom: 10px;
}
.developer_container_photo img {
    height: 100px;
    width: 100px;
    border-radius: 5px;
}

/* Footer Section */
footer {
    margin-top: 258vh;
    background-color: white;
    color: #383e6d;
}

footer a{
    color: #383e6d;
    font-size: 1.6rem;
}

.footer_container {
    height: 50vh;
    max-width: 90%;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer_container h2 {
    margin-bottom: 20px;
}

.footer_container_email {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 20px;
}

.footer_container_email span {
    height: 28px;
    width: 20%;
    background-image: url("../ASSETS/gmail_logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}


.footer_container_linkedin {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 20px;
}

.footer_container_linkedin span {
    height: 35px;
    width: 20%;
    background-image: url("../ASSETS/linkedin_icon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}


.footer_container_cell {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 20px;
}

.footer_container_cell span {
    height: 35px;
    width: 20%;
    background-image: url("../ASSETS/whatsapp_icon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

/*animations*/
/* .experience_container, .education_container, .developer_container, .footer_container {
    animation-name: rightin_animation;
    animation-duration: .5s;
    animation-timing-function: ease;
    animation-play-state: paused;
    animation-fill-mode: backwards;
    animation-direction: alternate-reverse;
}

@keyframes rightin_animation {


    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

.experience_container:hover {
    animation-play-state:running;
}

.education_container:hover {
    animation-play-state:running;
}

.developer_container:hover {
    animation-play-state:running;
} 

.footer_container:hover {
    animation-play-state:running;
} */