/* PALETA DE COLORES
.color1 {color: #00192b;}
.color2 {color: #383e6d;}
.color3 {color: #30a2d9;}
.color4 {color: #6acaf6;}
.color5 {color: #9df3ff;} */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
    color: #383e6d;
    font-family: 'Fragment Mono', monospace;
}

h2{
    font-size: 4rem;
}

h3{
    font-size: 2rem;
}

p {
    font-size: 1.6rem;
}

a{
    text-decoration: none;
    cursor: pointer;
}

header{
    padding-top: 10px;
    width: 100%;
    height: 6rem;
    background-color: #00192b;
    position:fixed;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.page-title{
    color: white;
    margin-left: 1rem;
    font-size: 3rem;
}

.nav{
    background-color: #00192b;
    height: 200px;
    width: 100%;
    display: none;
}

.nav.active {
    display: block;
}

.menu_buttom{
    height: 40px;
    width: 40px;
    display: block;
    cursor: pointer;
    margin-right: 1rem;
    border-radius: 5px;
}

.menu_icon{
    height: 30px;
    width: 30px;
}

header ul{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-top: 2rem;

}

header li{
    margin-bottom: 1.5rem;
    list-style: none;
    font-size: 1.6rem;
}

header a{
    color: white;
}