/* grises azules
.color1 {color: #00192b;}
.color2 {color: #383e6d;}
.color3 {color: #30a2d9;}
.color4 {color: #6acaf6;}
.color5 {color: #9df3ff;} */

:root {
    --nav-font-size: 1.6rem;
    --nav-background-color: #00192b;
}
h2{
    font-size: 4rem;
}
h3 {
    font-size: 2rem;
}
p {
    font-size: 1.6rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
    cursor: pointer;
}

header {
    width: 25vw;
    height: 100vh;
    position: fixed;
    background-color: var(--nav-background-color);
    flex-direction: column;
}

.page-title{
    padding-top: 28vh;
    width: 25vw;
    height: 35%;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Press Start 2P', cursive;
}

.menu_buttom{
    display: none;
}

.nav {
    height: 65%;
    display: flex;
    flex-direction: column;
    background-color: #00192b;
}

header nav .nav-right-section{
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--nav-font-size);
    font-family: 'Fragment Mono', monospace;
}

nav .nav-right-section a {
    color: white;
}

nav .nav-right-section li{
    width: 150px;
    height: 40px;
    /* border: solid 1px;
    border-color: white;
    border-radius: 0.5rem; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
}

nav .nav-right-section li:hover{
    box-shadow: 0 0.05rem 0.2rem 0 #30a2d9;
    border-color: #383e6d;
    font-size: 1.7rem;
}

/*MAIN SECTION*/
main {
    max-width: 75vw;
    height: 100vh;
    background-color: white;
    margin-left: 25vw;
}

/* Profile section */
#profile {
    background-color: white;
    padding-top: 0;
}

main .profile_container {
    height: 100vh;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.biography_photo {
    width: 30%;
}

.biography_photo img{
    height: 250px;
    width: 250px;
    border-radius: 15%;
}

.biography_curriculum {
    width: 65%;
}

main .biography_curriculum h2{
        font-size: 4rem;
        font-family: 'Fragment Mono', monospace;
        color: #383e6d;
        margin-bottom: 15px;
}

main .biography_curriculum p{
    font-size: 1.6rem;
    font-family: 'Fragment Mono', monospace;
    display: flex;
    text-align: justify;
    color: #383e6d;
    margin-bottom: 10px;
}

main .curriculum_button {
    height: 30px;
    width: 300px;
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.curriculum_button button {
    height: 30px;
    width: 150px;
    background-color:white;
    border: solid 1px #383e6d;
    border-radius: 5px;
}

.curriculum_button button a {
    color: #383e6d;
}

main .curriculum_icon {
    background-image: url("../ASSETS/download_icon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

/* Exoerience section */
#experience {
    background-color: #9df3ff;
}
main .experience_container {
    height: 50vh;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

main .myjobs{
    height: 50vh;
    display: flex;
    color: #383e6d;
    font-family: 'Fragment Mono', monospace;
}

main .myjobs .myjobs_logos {
    width: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .myjobs img{
    width: 120px;
    height: 120px;
    background-color: #00192b;
    object-fit: contain;
    object-position: center;
    border-radius: 10px;
    border: solid #00192b 10px;
}

main .myjobs_description {
    width: 580px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main .myjobs h2{
    margin-bottom: 15px;
}

main .myjobs h3{
    margin-bottom: 10px;
}

main .myjobs p {
    margin-bottom: 1rem;
}

main .myjobs span{
    font-size: 1.6rem;
    font-weight: bold;
}

/* Education section */
#education {
    background-color: white;
}

main .education_container {
    height: 50vh;
    width: 90%;
    margin: 0 auto;
}

main .myeducation{
    height: 50vh;
    display: flex;
    color: #383e6d;
    font-family: 'Fragment Mono', monospace;
}

main .myeducation .myeducation_logos {
    width: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .myeducation img{
    width: 120px;
    height: 120px;
    background-color: #00192b;
    object-fit: contain;
    object-position: center;
    border-radius: 10px;
    border: solid #00192b 10px;
}

main .myeducation_description {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main .myeducation h2{
    margin-bottom: 15px;
}

.myeducation_description_pucp {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.pucp_icon {
    margin-right: 20px;
    border-radius: 5%;
    background-image: url("../ASSETS/pucp_logo.png");
    background-repeat: none;
    background-position: center;
    background-size: contain;
    width: 50px;
    height: 50px;
    background-color: #30a2d9;
    border: solid #30a2d9 5px;
}

.myeducation_description_pucp h3{
    width: 35%;
    height: auto;
}

.myeducation_description_pucp p {
    width: 35%;
}

.myeducation_description_autonoma {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.autonoma_icon {
    margin-right: 20px;
    border-radius: 5%;
    background-image: url("../ASSETS/autonoma_logo.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    background-color: #30a2d9;
    border: solid #30a2d9 5px;
}

.myeducation_description_autonoma h3{
    width: 35%;
    height: auto;
}

.myeducation_description_autonoma p {
    width: 35%;
}

.myeducation_description_language {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.language_icon {
    margin-right: 20px;
    border-radius: 5%;
    background-image: url("../ASSETS/us_logo.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    background-color: #30a2d9;
    border: solid #30a2d9 5px;
}

.myeducation_description_language h3{
    width: 35%;
    height: auto;
}

.myeducation_description_language p {
    width: 35%;
}

.myeducation_description_software {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.software_icon {
    margin-right: 20px;
    border-radius: 5%;
    background-image: url("../ASSETS/adobe_premier_logo.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    background-color: #30a2d9;
    border: solid #30a2d9 5px;
}

.myeducation_description_software h3{
    width: 35%;
    height: auto;
}

.myeducation_description_software p {
    width: 35%;
}

/* Developer section */
#developer {
    background-color: #6acaf6;
}

main .developer_container {
    height: 50vh;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Fragment Mono', monospace;
    color:#383e6d;
}

main .ideveloper_photo img {
    margin-top: 20px;
    width: 200px;
    height: 200px;
    border-radius: 15%;
}

/* Footer Contact Section */
footer {
    max-width: 75vw;
    height: 25vh;
    background-color:white;
    margin-top: 150vh;
    margin-left: 25vw; 
}

#page_footer {
    height: 25vh;
    width: 90%;
    margin: 0 auto;
}

footer .footer_container {
    height: 25vh;
    display: flex;
    align-items: center;
}

.footer_container h2{
    font-family: 'Fragment Mono', monospace;
    color: #383e6d;
}

footer .footer_container p, a{
    font-family: 'Fragment Mono', monospace;
    color: #383e6d;
    font-size: 1.6rem;
}

footer .footer_container_title {
    width: 250px;
    display: flex;
    flex-direction: column;
}

.footer_container_email {
    height: 20vh;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer_container_linkedin {
    height: 20vh;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer_container_cell {
    height: 20vh;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer .email_icon{
    border-radius: 5%;
    background-image: url("../ASSETS/gmail_logo.png");
    background-repeat: no-repeat ;
    background-position: center;
    background-size: contain;
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
}

footer .linkedin_icon{
    border-radius: 5%;
    background-image: url("../ASSETS/linkedin_icon.png");
    background-repeat: no-repeat ;
    background-position: center;
    background-size: contain;
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
}

footer .cell_icon{
    border-radius: 5%;
    background-image: url("../ASSETS/whatsapp_icon.png");
    background-repeat: no-repeat ;
    background-position: center;
    background-size: contain;
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
}

/*animations*/
.experience_container, .education_container, .developer_container, .footer_container {
    animation-name: rightin_animation;
    animation-duration: .5s;
    animation-timing-function: ease;
    animation-play-state: paused;
    animation-fill-mode: backwards;
}

@keyframes rightin_animation {


    0% {
        /* transform: translateX(100%); */
        opacity: 1;
    }
    10% {
        opacity: 0.4;
    }
    100% {
        /* transform: translateX(0); */
        opacity: 1;
    }
}

.experience_container:hover {
    animation-play-state:running;
}

.education_container:hover {
    animation-play-state:running;
}

.developer_container:hover {
    animation-play-state:running;
} 

.footer_container:hover {
    animation-play-state:running;
}